
.container{
  display: flex;
  flex-direction: column;
  place-items: left;
  height: 440px;
  width: 500px;
  background-color: #1ba57e98;
  border-radius: 10px;
  padding: 20px;
  
}
body{
  font-family: 'poppins', sans-serif;
  display: grid;
  justify-content: center;
  align-items: bottom;
  min-height: 90vh;
  background: #0a06ed;
  text-align: center;
  
}
.cool-btn{
  padding: 10px;
  text-decoration: none;
  height: 50px;
  width: 50px;
  border: 10px;
  border-radius: 10px;
  background: #2ced06;
  transition: 0.5s;
  
}
.cool-btn:hover{
  transform: translateY(5px);
}