body{
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: right;
    align-items: reverse-bottom;
    min-height: 90vh;
    background: black;
    text-align: center;
    
  }
button{
    width: 50px;
    height: 50px;
    place-items: bottom;
    background-color: black;
    cursor: pointer;
    transition: 0.5s;
    padding: 20px;
    border: 10px;
    border-radius: 50px;
    align-items: bottom;
}
button:hover{
    transform: translateY(10px);
}