*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 113, 128);
    display: grid;
    place-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 300px;
    background-color: #fc0294;
    border-radius: 10px;
    padding: 20px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}

p{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 20px;
    font-weight: bold;
}

input{
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgb(237, 6, 6);
    margin-top: 10px;
    outline: none;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}

.login-btn{
    border: none;
    background-color: rgb(9, 0, 128);
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
    
}

   
